{% extends "modelo.html" %}
{% block conteudo %}
<div class="container mt-3">
    <h2 class="text-success">Team Projeto python</h2>
  <div class="row">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img src="{{ url_for('img', filename='male_avatar.svg') }}" class="card-img-top img-fluid" alt="Foto Membro 1">
        <div class="card-body">
          <h5 class="card-title text-success">Victor</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin et eleifend nisl. Curabitur eget venenatis odio. Nunc sagittis sem ut diam convallis,
            nec auctor orci aliquam. </p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img src="{{ url_for('img', filename='male_avatar.svg') }}" class="card-img-top" alt="Foto Membro 2">
        <div class="card-body">
          <h5 class="card-title text-success">Itaji</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin et eleifend nisl. Curabitur eget venenatis odio. Nunc sagittis sem ut diam convallis,
            nec auctor orci aliquam. </p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img src="{{ url_for('img', filename='foto_leo.jpg') }}" class="card-img-top ">
        <div class="card-body">
          <h5 class="card-title text-success">Leo</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin et eleifend nisl. Curabitur eget venenatis odio. Nunc sagittis sem ut diam convallis,
            nec auctor orci aliquam. Curabitur eget venenatis odio. Nunc sagittis sem ut diam convallis,
            nec auctor orci aliquam.  </p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img src="{{ url_for('img', filename='male_avatar.svg') }}" class="card-img-top" alt="Foto Membro 4">
        <div class="card-body">
          <h5 class="card-title text-success">Gabriel</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin et eleifend nisl. Curabitur eget venenatis odio. Nunc sagittis sem ut diam convallis,
            nec auctor orci aliquam. </p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}